[submodule "dir_colors/dircolors-solarized"]
	path = dir_colors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "fonts/dotfiles-fonts"]
	path = fonts/dotfiles-fonts
	url = https://github.com/aruhier/dotfiles-fonts.git
[submodule "*"]
	shallow = true
[submodule "firefox/betterfox"]
	path = firefox/betterfox
	url = git@github.com:yokoffing/Betterfox.git
