[submodule "dir_colors/dircolors-solarized"]
	path = dir_colors/dircolors-solarized
	url = https://github.com/Anthony25/dircolors-solarized
[submodule "nvim/plugged"]
	path = nvim/plugged
	url = https://github.com/junegunn/vim-plug
