* {
    border: none;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Symbols Nerd Font Mono, Inter Variable, Material Design Icons Desktop;
    /* font-family: Hack, Material Design Icons Desktop; */
    /* To enable alternate font styling (difference in the l, 0, etc.) */
    /* font-feature-settings: "ss02"; */
    font-size: 12px;
    min-height: 0;
}

#waybar > box {
    border-bottom: 3px solid #6AA099;
}

window#waybar {
    background-color: #2d2d2d;
    color: #A3A3AB;
    transition-property: background-color;
    transition-duration: .5s;
    border: none;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#workspaces button {
    padding: 0;
    padding-left: 10px;
    padding-right: 8px;
    background-color: #9BBFBA;
    color: #2d2d2d;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #F98BA4;
}

#workspaces button.focused, #workspaces button.active,
#workspaces button.persistent.focused, #workspaces button.persistent.active {
    background-color: #6AA099;
    color: #2d2d2d;
    font-weight: bold;
}

#workspaces button.visible.current_output {
    box-shadow: inset 0 -1px #BF0905;
}

#workspaces button.persistent.empty:not(.focused):not(.active) {
    background-color: #E5D4CE;
    color: #252527;
}

#submap {
    background-color: #6AA099;
    border-radius: 20%/100%;
    border-left: solid #6AA099;
    border-right: solid #6AA099;
    border-width: 0 6px 0;
    padding: 0 6px;
    margin: 0 8px 0 4px;
    font-weight: bold;
    color: #2d2d2d;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#privacy,
#custom-swaync {
    padding: 0 6px;
    margin: 0 4px;
}

@keyframes blink {
to {
    background-color: #ffffff;
    color: #000000;
}
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

.modules-right, .modules-left {
    color: #E5D4CE;
    background-color: #424242;
}

#tray menu * {
    font-size: 13px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#privacy-item.screenshare {
    color: #D14005;
}
#privacy-item.audio-in {
    color: #D14005;
}

#custom-left-arrow, #custom-right-arrow {
    color: #424242;
    background: #2d2d2d;
}

.modules-center {
    border-radius: 20px/100%;
    border-left: solid #E5D4CE;
    border-right: solid #E5D4CE;
    border-width: 0 15px 0;
}

.modules-right {
    border-top-left-radius: 20px 100%;
    border-bottom-left-radius: 20px 100%;
    border-left: solid #424242;
    border-width: 0 0 0 12px;
}

.modules-left {
    border-top-right-radius: 20px 100%;
    border-bottom-right-radius: 20px 100%;
    border-right: solid #424242;
    border-width: 0 12px 0 0;
}
