* {
    background-image: none;
    box-shadow: none;
}

window {
    background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 20%;
    border-color: white;
    text-decoration-color: #FFFFFF;
    color: #FFFFFF;
    font-size: 1.2em;
    font-family: Inter Variable;
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    min-width: 9em;
    min-height: 9em;
}

button:focus, button:active, button:hover {
    background-color: #517a9d;
    outline-style: none;
}

#lock {
    background-image: image(url("assets/lock.svg"), url("assets/lock.svg"));
}

#logout {
    background-image: image(url("assets/logout.svg"), url("assets/logout.svg"));
}

#suspend {
    background-image: image(url("assets/suspend.svg"), url("assets/suspend.svg"));
}

#hibernate {
    background-image: image(url("assets/hibernate.svg"), url("assets/hibernate.svg"));
}

#shutdown {
    background-image: image(url("assets/shutdown.svg"), url("assets/shutdown.svg"));
}

#reboot {
    background-image: image(url("assets/reboot.svg"), url("assets/reboot.svg"));
}

#reboot-windows {
    background-image: image(url("assets/windows.svg"), url("assets/windows.svg"));
}
