/**************************************************/
/* NOT SYNCED, TO BE COPIED IN THE ADDON SETTINGS */
/**************************************************/

#root.root {--toolbar-bg: #2a2a2e;}
#root.root {--tabs-normal-bg: #2a2a2e;}
#root.root {--tabs-pinned-height: 33px;}
#root.root {--tabs-pinned-width: 33px;}
#root.root {--tabs-height: 33px;}
#root.root {--tabs-inner-gap: 8px;}
#root.root {--tabs-indent: 12px;}


#root.root {--tabs-border-radius: 0px;}


#root.root {--frame-bg: rgb(28, 27, 34);}
#root.root {--general-border-radius: 0;}


.Tab > .body{
  border: 1px solid rgba(255,255,255,0.1);
}

.Tab {
  padding-top: 0px;
  padding-bottom: 0px;
}

.Tab[data-discarded="true"] > .body > .t-box, .Tab[data-discarded="true"] > .body > .ctx {
  opacity: 1;
}
