/*************/
/* Hide tabs */
/*************/

#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
    opacity: 0;
    pointer-events: none;
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar .titlebar-spacer {
    border-inline-end: none;
}

/**********************/
/* Hide bookmarks bar */
/**********************/

#PersonalToolbar{
    --uc-bm-height: 23px; /* Might need to adjust if the toolbar has other buttons */
    --uc-bm-padding: 4px; /* Vertical padding to be applied to bookmarks */
    --uc-autohide-toolbar-delay: 100ms; /* The toolbar is hidden after 0.1s */

    /* 0deg = "show" ; 90deg = "hide" ;  Set the following to control when bookmarks are shown */
    --uc-autohide-toolbar-focus-rotation: 0deg; /* urlbar is focused */
    --uc-autohide-toolbar-hover-rotation: 0deg; /* cursor is over the toolbar area */
}

:root[uidensity="touch"] #PersonalToolbar{ --uc-bm-padding: 7px }

#PersonalToolbar:not([customizing]){
    position: relative;
    margin-bottom: calc(-1px - var(--uc-bm-height) - 2 * var(--uc-bm-padding));
    transform: rotateX(90deg);
    transform-origin: top;
    transition: transform 135ms linear var(--uc-autohide-toolbar-delay) !important;
    z-index: 1;
    /* The following properties should allow the themes with trasparent toolbars to work */
    background-color: transparent !important;
    background-repeat: no-repeat,no-repeat,var(--lwt-background-tiling);
    --uc-bg-y: calc(-2 * (var(--tab-block-margin) + var(--toolbarbutton-inner-padding) + var(--toolbarbutton-outer-padding)) - var(--tab-min-height) - 16px - var(--bookmark-block-padding));
    background-position: top left,top left,var(--lwt-background-alignment,top left);
    background-position-y:top,top,var(--uc-bg-y),var(--uc-bg-y),var(--uc-bg-y);
    background-image: var(--toolbar-bgimage,linear-gradient(transparent,transparent)), linear-gradient(var(--toolbar-bgcolor),var(--toolbar-bgcolor)),var(--lwt-header-image,var(--lwt-additional-images)) !important;
}

#PlacesToolbarItems > .bookmark-item,
#OtherBookmarks,
#PersonalToolbar > #import-button{
    padding-block: var(--uc-bm-padding) !important;
}

#navigator-toolbox:hover > #PersonalToolbar{
    transition-delay: 100ms !important;
    transform: rotateX(var(--uc-autohide-toolbar-hover-rotation,0));
}

#navigator-toolbox:hover > #nav-bar:focus-within + #PersonalToolbar {
    transform: rotateX(0);
}

/* Hide 1px border-bottom */
#navigator-toolbox:after {
    display: none !important;
}


/***********************/
/* Hide sidebar header */
/***********************/

/* Minimize sidebar header to a light black stripe (except Bookmarks, History, Sync'd Tabs); appears normally on hover */
/*
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
#sidebar-header:not(:hover) {
    max-height: 5px !important;
    min-height: 5px !important;
    padding: 0 !important;
    background-color: #000 !important;
}
#sidebar-box:not([sidebarcommand="viewBookmarksSidebar"]):not([sidebarcommand="viewHistorySidebar"]):not([sidebarcommand="viewTabsSidebar"])
#sidebar-header:not(:hover) #sidebar-switcher-target {
    opacity: 0 !important;
}
*/

/* Hide the sidebar head for Tree Style Tab */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
  display: none;
}
